<div ng-app = "underwritingAdminApp" ng-controller = "MainCtrl">

<script src="controllers/main.js"></script>

<!-- USERNAME -->
<div class="form-group">
    <label>Username</label>
    <input type="text" name="adminname" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20">
</div>
<!-- NAME -->
        <div class="form-group">
            <label>Set Dept/income Max</label>
            <input type="text" name="setdebtincome" class="form-control" ng-model="admin.setdebtincome" required>
        </div>

        <div class="form-group">
            <label>Set Min Credit</label>
            <input type="text" name="setmincredit" class="form-control" ng-model="admin.setmincredit" required>
        </div>

        <div class="form-group">
            <label>Set Min Assets  </label>
            <input type="text" name="setminassests" class="form-control" ng-model="admin.setminassests" required>
        </div>
         <div class="form-group">
            <label>Veteran Status</label>
            <input type="text" name="setVstatus" class="form-control" ng-model="admin.xsetVstatus" required>
        </div>


<button type="submit" class="btn btn-primary">Submit</button>
</div>